/* body {
    background-color: black;
    color: white;
} */

.container00 {
    /* display:flex; */
    top: 250px;
    height: 200px;
    position: relative;
    text-align: center;
}

.pausado {
    color: red;
}

.relogio {
    font-size: 50px;
}